/***************************/
/* CSS for home page       */
/***************************/

.main_pane {
	-fx-background-color: navy;
}

.menu_item {
	-fx-background-color: darkblue;
}

.menu_item_hovering {
	-fx-background-color: blue;
}

.quit {
	-fx-background-color: darkred;
}

.quit_hovering {
	-fx-background-color: red;
	-fx-border-width: 4px;
    -fx-border-color: darkred;
}

@font-face {
    font-family: VideoPhreak;
    src: url('VideoPhreak.ttf');
}

.menu_item_label {
    -fx-background-color: transparent;
    -fx-font-family: VideoPhreak;
    -fx-text-fill: lightgrey;
    -fx-font-size: 60px;
}